:root{
    --bg_dark: rgba(0, 0, 0, 1);
    --bg_btn_nav: rgba(54, 54, 54, 1);
    --bg_btn_returnal: rgba(205, 61, 15, 1);
    --bg_light: rgba(255, 255, 255, 1);
    --bg_btn_console: rgba(45, 100, 230, 1);
    --bg_card_game: rgba(31, 31, 31, 1);
    --color_text_secondary: rgba(120, 120, 120, 1);
    --bg_playstation_plus:rgba(217, 218, 220, 1);
    --bg_btn_playstation_now: rgba(245, 245, 245, 1);
    --bg_footer:rgba(0, 67, 156, 1);
}

/* #region Colors */
.bg_dark{
    background-color: var(--bg_dark);
}

.bg_light{
    background-color: var(--bg_light);
}

.bg_card_game{
    background-color: var(--bg_card_game);
}

.bg_playstation_plus{
    background-color: var(--bg_playstation_plus);
}

.bg_footer{
    background-color: var(--bg_footer);
}

.color_text_secondary{
    color: var(--color_text_secondary);
}

/* Btn colors */

.bg_btn_nav{
    background-color: var(--bg_btn_nav);
}

.bg_btn_returnal{
    background-color: var(--bg_btn_returnal);
}

.bg_btn_console{
    background-color: var(--bg_btn_console);
}

.bg_btn_playstation_now{
    background-color: var(--bg_btn_playstation_now);
}

/* #endregion Colors */

/* #region Header */

/* #endregion Header */


/* #region Debug */
.debug .logo_sony{
    height: 20px;
}

.debug nav{
    height: 50px;
}

.debug .container{
    height: 100%;
    background-color: aqua;
    border: 1px solid var(--bg_footer);
}

.debug .returnal{
    background-color: var(--bg_btn_returnal);
    height: 400px;
}

.debug .returnal_controls{
    height: 100px;
    background-color: aquamarine;
}

.debug .there_playstation{
    height: 150px;
    background-color: rgb(118, 20, 247);
}

.debug .console_playstation{
    height: 300px;
    background-color: cornflowerblue;
}

.debug .controller_playstation{
    height: 100px;
    background-color:coral;
}

.debug .adventure{
    background-color: var(--bg_btn_returnal);
    height: 400px;
}

.debug .new_releases{
    background-color: yellowgreen;
    height: 400px;
}

.debug .explore_playstation{
    height: 100px;
    background-color:coral;
}

.debug .vr_playstation{
    height: 300px;
    background-color: cornflowerblue;
}

.debug .playstation_plus{
    background-color: yellowgreen;
    height: 400px;
}

.debug .discounts{
    height: 100px;
    background-color:coral;
}

.debug .game_discount{
    height: 200px;
    background-color: cornflowerblue;
}

.debug .playstation_now{
    height: 300px;
    background-color:coral;
}

.debug .social{
    height: 200px;
    background-color: cornflowerblue;
}

.debug .bg_footer{
    height: 400px;
}





/* #endregion Debug */
